
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  display: grid;
  place-items: center;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 1rem;
}

main {
  max-width: 36rem;
  padding: 2rem;
}

h1 {
  font-weight: 500;
  font-size: 1.75em;
  margin-bottom: 0.25em;
}

p {
  margin-top: 1em;
  margin-bottom: 0;
}

a {
  color: inherit;
}
